* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background: #eff9ff;
}


/* ----------------------------------------  HEADER   --------------------------------------- */

header {
  position: sticky;
  top: 0px;
  z-index: 1;
  background: #85cefb;
}

div.sec-navbar {
  background: #85cefb;
  display: flex;
  justify-content: space-between;
}

ul.lists {
  /* background: #000; */
  display: flex;
  width: 800px;
  justify-content: space-evenly;
  margin: 8px 0px;
  /* height: 30px; */
}

li.list {
  color: #4a00dd;
  list-style: none;
  font-size: 21px;
  font-weight: 500;
  cursor: pointer;
}

li.list:hover {
  color: #1d00b0;
  font-size: 22px;
}

@media (min-width:650px) and (max-width: 800px) {
  ul.lists {
    width: 650px;
  }

  li.list {
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  ul.lists {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    /* background: #000; */
    width: 250px;
    padding-right: 30px;
  }

  li.list {
    /* border-top: 2px solid gray; */
    border-bottom: 1px solid gray;
    transition: 0.3s;
  }

  li.list:hover {
    background-image: linear-gradient(#61c3ff,#85cefb);
    /* color: #ff000d; */
  }
}



/* ----------------------------------------    NAVBAR    ------------------------------------- */




nav.nav {
  background: transparent;
}

div.brand-search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
  flex-wrap: wrap;
}

h1.app-name {
  color: #0000c9;
  font-size: 35px;
  font-weight: 400;
  /* background: #000; */
}

h1.app-name:hover {
  color: #0000c9;
}

form.searchform {
  width: 400px;
  margin: 10px 5px;
}

/* div.container-elem {
    display: flex;
  justify-content: space-between;
} */

button.searchBtn {
  border: 1px solid #37e11a;
  font-weight: 500;
  color: #1900ff;
}

button.searchBtn:hover {
  background: #1900ff;
  color: #ffffff;
}

@media (min-width: 200px) and (max-width: 650px) {
  div.brand-search {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin: 0px 20px;
    /* flex-wrap: wrap; */
  }

  a.app-name {
    margin: auto;
    /* background: #f4e7e7; */
  }

  form.searchform {
    width: 80%;
    margin: 10px auto;
  }
}




/* -----------------------------------   CART   ---------------------------------------- */




div.cart {
  /* background: #af1b1b; */
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 45px;
  margin-right: 30px;
}

h6.cart-quantity {
  background: rgb(255, 28, 28);
  width: 12px;
  text-align: center;
  border-radius: 8px;
  font-size: 10px;
  color: #fff;
}

img.cart-img {
  height: 30px;
  width: 30px;
  /* background: blueviolet; */
  margin: -8px 0px 0px 0px;
  cursor: pointer;
}





/* --------------------------------------   HOME   ----------------------------------------------- */



h2.category-name {
  font-size: 35px;
  text-transform: uppercase;
  /* background-color: blueviolet; */
  margin: 20px 0px;
  text-align: center;
  /* box-shadow: 0px 3px 5px gray; */
}

/* ul.render-filter-products{
  display: flex;
} */

div.render-card {
  /* background: #ffbbf3; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 30px;
  justify-content: space-evenly;
}

img.imgInCard {
  height: 250px;

}

div.c-a-r-d {
  margin: 20px 10px;
  box-shadow: 0px 0px 7px rgb(24, 23, 23);
  background: #fff;

}

img.imgInModal {
  height: 60px;
  width: 60px;
  margin: 0px 20px;
}

div.price-addtocart {
  display: flex;
  justify-content: space-between;
}

button.viewDetails {
  background: #00abce;
  width: 100%;
  border: none;
  outline: none;
  height: 35px;
  box-shadow: 0px 0px 3px gray;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
  font-weight: 500;
}

button.viewDetails:hover {
  background: #2fb6ff;
  box-shadow: none;
}

button.addToCart {
  background: #1900ff;
  font-weight: 500;
  transition: 0.1s ease-in-out;
  color: #fff;
}

button.addToCart:hover {
  background: #1b169d;
  color: #fff;
}






/* ----------------------------------    FOOTER   -------------------------------------------- */


footer {
  height: 500px;
  background: #c5dbe8;
}